---
layout: default
---

<div class="landingPage" data-component="landingPage">

    <header class="landingPage__header">
        <h1 class="landingPage__headerTitle">
            Techfugees<br>
            <small>Hackathon Oslo 2016</small>
        </h1>
        <h2 class="landingPage__headerSubtitle">
            <time datetime="2016-11-10">October 14 – 16th</time> <wbr> @ FINN.no<br>
        </h2>
        <div class="landingPage__headerSignup">
            <p>More information coming soon. In the meantime, sign up below for the latest updates.</p>
            {% include newsletterSignup.html %}
        </div>
    </header>

    <div class="landingPage__sponsors">

        <div class="sponsorLine" data-component="sponsorLine">
            <!-- <div class="sponsorLine__title">
                Our sponsors
            </div> -->
            <div class="sponsorLine__logos" data-ref="logos">
                {% include sponsors.html %}
            </div>
        </div>
    </div>

    <div class="landingPage__locationMap">
        {% include locationMap.html %}
    </div>

</div>
