.sponsorCard {
    display: inline-block;
    border: 1px solid #eee;
    padding: 1rem;
    min-width: 100px;
    max-width: 300px;

    &.-minimized {
        border: none;

        > *:not(.sponsorCard__logo) {
            display: none;
        }
    }
}

.sponsorCard__logo {
    width: 100%;
    height: 100%;
}
