.sponsorLine {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

.sponsorLine__logos {
    display: flex;
    overflow: auto;
    padding: 1rem 0;
    -webkit-overflow-scrolling: touch;
}

.sponsorLogo {
    border: 2px solid transparent;
    border-radius: $radius-normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    min-width: 150px;
    max-width: 190px;

    &:hover {
        border-color: #eee;
    }

    img {
        max-width: 100%;
    }
}
