.button {
  border: none;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  letter-spacing: inherit;
  padding: 1rem;
  text-transform: uppercase;

  &.-primary {
      background: map-get($colors, primary);
      color: contrast-color(map-get($colors, primary));
  }
}
