.landingPage {}

.landingPage__header {
    background: rgba(#000,.7);
    color: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 2rem;
    min-height: 70vh;
    text-align: center;

    &::before {
        background: url('../images/1.jpg') top no-repeat;
        background-size: cover;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.landingPage__headerTitle {
    text-transform: uppercase;
    font-size: 12vw;
    line-height: .6;
    width: 100%;

    @media (min-width: 850px) {
        font-size: 100px;
    }

    small {
        font-size: .54em;
    }
}

.landingPage__headerSubtitle {
    text-transform: uppercase;
    white-space: nowrap;
}

.landingPage__headerSignup {
    max-width: 25em;
}

.landingPage__locationMap {
    height: 70vh;
    position: relative;
}

.landingPage__sponsors {
    background: white;
}
