---
layout: default
permalink: /hackathon/
redirect: http://techfugees-hackathon-oslo.confetti.events/
---

{% comment %}
<div class="landingPage" data-component="landingPage">

    <header class="landingPage__header">
        <h1 class="landingPage__headerTitle">
            Techfugees<br>
            <small>Hackathon Oslo 2016</small>
        </h1>
        <h2 class="landingPage__headerSubtitle">
            October 14 – 16th <wbr> @ FINN.no<br>
        </h2>
        <div class="landingPage__headerSignup">
            <p>More information coming soon. In the meantime, sign up below for the latest updates.</p>
            {% include newsletterSignup.html %}
        </div>
    </header>

    <div class="landingPage__sponsors">
        {% include sponsorLine.html %}
    </div>

    <div class="landingPage__locationMap">
        {% include locationMap.html %}
    </div>

</div>
{% endcomment %}
