<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{site.title}}</title>

    <link rel="stylesheet" href="{{site.baseurl}}/styles/main.css" media="screen">

    {% if page.redirect %}
    <meta http-equiv="refresh" content="0; url={{page.redirect}}" />
    <link rel="canonical" href="{{page.redirect}}" />
    {% endif %}
</head>
<body>

    {{content}}

    <script src="{{site.baseurl}}/scripts/main.js"></script>
</body>
</html>
